* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0;
    width: auto;
    background-image: linear-gradient(grey, white);
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 12pt;
    display: inline-block;
    margin-top: 0;
}

h2 {
    padding: 0;
    font-size: 15pt;
}

br {
    margin: 5px;
}

.home, 
.portfolio, 
.contact,
.activities {
    background: white;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
}

.name {
    /* color: black; */
    color: white;
    font-size: 22pt;
}

.profile-picture {
    width: 60%;
    float: initial;
}

.intro {
    line-height: 20px;
    width: 100%;
    margin-top: 2em;

}

.introtext {
    color: white;
    font-size: 14pt;
    padding-top: 25px;
}

.column {
    float: initial;
    line-height: 1.6em;
    min-width: 250px;
    max-width: 454px;
    padding-bottom: 1em;
}

.cards {
    background: white;
    padding-bottom: 2em;
    overflow: hidden;
}

.column img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.main-footer {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.footername {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 11pt;
}

.Phone {
    margin-top: 25px;
    margin-bottom: 0;
}

.Email {
    margin-top: 20px;
    margin-bottom: 50px;
}

/* ======================== ID selectors ======================  */


#Pheading {
    background: white;
    padding: 2em 0;
    margin-top: 3em;
    margin-bottom: 0;
}

#footerh2 {
    margin: 40px 0;
}

#BTT {
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 11pt;
}

/* ======================= Float clearfix ====================== */

.top-nav::after {
    content:"";
    clear: both;
    display: table;
}

#footername::after {
    content:"";
    clear: both;
    display: table;
}

#BTT::after {
    content:"";
    clear: both;
    display: table;
}

.cards::after {
    content:"";
    clear: both;
    display: table;
}

.intro::after {
    content:"";
    clear: both;
    display: table;
}

.profile-picture::after {
    content:"";
    clear: both;
    display: table;
}

.introtext::after {
    content:"";
    clear: both;
    display: table;
}

.column::after {
    content:"";
    clear: both;
    display: table;
}


/* ======================= Media Queries ======================== */


/* mobile screen size = 320px */
/* tablet screen size = 768px */
/* desktop screen size = 1024px */



/* ======================================================== Mobile 320px ==== */

@media (Min-width: 320px) {

    p {
        width: 90%;
    }

    .top-nav {
        list-style-type: none;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .profile-picture {
        width: 70%;
    }

    .cards {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .main-footer {
        width: 95%;
    }

    #footerhome,
    #footercontact,
    #footerportfolio,
    #footeractivities {
        visibility: hidden;
    }
    
}

/* ======================================================= Tablet 768px ===== */

@media (min-width: 768px) {

    
    body {
        /* background: rgb(248, 245, 245); */
        background-image: linear-gradient(grey, white);
    }
    
    .name {
        /* color: black; */
        color: white;
        font-size: 22pt;
        margin-top: 1.5em;
    }

    .home,
    .portfolio,
    .contact,
    .activities {
        color: white;
        display: inline-block;
        background: inherit;
    }

   .introtext {
       padding-top: 0;
       text-align: left;
       max-width: 50%;
   }

   .profile-picture {
       width: 300px;
       float: right;
       margin-right: 20px;
   }
   
    .cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: space-between;
    }

   .column {
        float: left;
        line-height: 1.6em;
        width: 350px;
        padding-bottom: 1em;
        margin: 5px;
    }

    .column img {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    

    .column p {
        padding-left: 35px;
        padding-right: 35px;
    }

    .bottomnav {
        margin-top: 20px;
        margin-bottom: 70px;
        margin-right: 0;
        font-size: 11pt;
        float: right;
    }
    
    #footerportfolio,
    #footercontact,
    #footerhome,
    #footeractivities {
        visibility: visible;
        margin: 5px;
        padding: 10px;
        text-decoration: none;
    }

    #BTT {
        display: none;
    }

}

/* ======================================================= Computer 1024px ===== */

@media (min-width: 1024px) {
    
    body {
        /* background: rgb(248, 245, 245); */
        background-image: linear-gradient(grey, white);
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .introtext {
        text-align: left;
    }

    .intro {
        line-height: 1.75em;
        width: 100%;
        margin-top: 2em;
        text-align: left;
        margin-left: 1em;
    }
    
    .name {
        /* color: black; */
        color: white;
        font-size: 22pt;
        margin-left: 1rem;
        padding: 0;
        float: left;
    }

    .top-nav {
        width: 700px;
        position: relative;
        left: 260px;
    }

    .home,
    .portfolio,
    .contact,
    .activities {
        color: white;
        margin-top: 1.75em;
    }

   .introtext {
       padding-top: 0;
       text-align: left;
       max-width: 50%;
   }

   .profile-picture {
       width: 375px;
       float: right;
       margin-right: 2em;
   }

   #Pheading {
    background: white;
    padding: 2em 0;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 0;
    margin-left: 0%;
    margin-right: 0%;
    }
   
    .cards {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: space-between;
    }

   .column {
        float: left;
        width: 275px;
        padding-bottom: 1em;
        margin: 10px;
    }

    .column img {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    

    .column p {
        padding-left: 5px;
        padding-right: 5px;
    }

    .bottomnav {
        margin-top: 20px;
        margin-bottom: 70px;
        margin-right: 0;
        font-size: 11pt;
        float: right;
    }

    .main-footer p {
        max-width: 500px;
    }
    
    #footerportfolio,
    #footercontact,
    #footerhome,
    #footeractivities {
        visibility: visible;
        margin: 5px;
        padding: 10px;
        text-decoration: none;
    }

    #BTT {
        display: none;
    }


}

